/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
  font-family: sans-serif;

}

/* Layout */
main::after{
    content: "";
  display: table;
  clear: both;

}
section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer, main{
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}
/* WRITE YOUR CODE BELOW HERE */
header {
  text-align: center;
}

.nav-box {
  border: 1px solid red;
  color: red;
  padding: 20px;
  text-align: center;
  margin: 10px 0;
  font-size: 1.1rem;
}
